<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/landing_page.css" />
  <title>SMS</title>
  <script>
    function redirectToLogin() {
      window.location.href = '/login';
    }
    function redirectToSignup() {
      window.location.href = '/signup';
    }
  </script>
</head>

<body>
  <div id="container">
    <div id="nav">
      <div id="logo">Logo</div>
      <div>
        <button id="login" onclick="redirectToLogin()">Login</button>
        <button id="signup" onclick="redirectToSignup()">Sign up</button>
      </div>
    </div>
    <div id="content">
      <div id="description">
        <h1 class="wc">Welcome to SMS</h1>
        <p>Effortlessly manage student data with features to add, edit, and delete student records. Simplify enrollment, updates, and database maintenance for seamless school administration.</p>
        <button id="start" onclick="redirectToSignup()">Start now</button>
      </div>
      <div>
        <img src="images/Education.gif" />
      </div>
    </div>
    <div id="info">
      <div class="card" style="background-color: #f2f2f2;">
        <img class="cardImg" src="images/Add files (1).gif" />
        <div class="cardDes">
          <p>Simplify student enrollment with the intuitive "Add New Student" feature in our school management system. Seamlessly input essential student details, such as personal information, contact details, and course selections. This streamlined process enhances administrative efficiency, ensuring accurate and organized student records.</p>
        </div>
      </div>
      <div class="cardWhiteBg">
        <div class="cardDes">
          <p>Effortlessly refine student information with the "Edit Student Data" feature in our school management system. Update individual profiles, including contact information, course adjustments, and any changes in personal details. This tool streamlines administrative tasks, ensuring up-to-date and accurate student records. </p>
        </div>
        <img class="cardImg" src="images/Editing body text (1).gif" />
      </div>
      <div class="card" style="background-color: #f2f2f2;">
        <img class="cardImg" src="images/Inbox cleanup (1).gif" />
        <div class="cardDes">
          <p>Simplify administrative tasks with the "Delete Student Data" feature in our school management system. Effortlessly remove outdated or redundant student records, ensuring a streamlined database. This tool provides a secure and convenient method to manage student information, maintaining accuracy and optimizing data storage.</p>
        </div>
      </div>
    </div>
    <div id="footer">
      <div>Logo</div>
      <div>
        <label>Contacts</label><br />
        <div style="margin-top: 5px;">
          <div>
            <img class="emailIcon" src="images/icons8-email-50.png" />
            <label>rnou@miu.edu</label><br />
          </div>
          <div>
            <img class="emailIcon" src="images/icons8-email-50.png" />
            <label>rnou@miu.edu</label><br />
          </div>
          <div>
            <img class="emailIcon" src="images/icons8-email-50.png" />
            <label>rnou@miu.edu</label><br />
          </div>
          <div>
            <img class="emailIcon" src="images/icons8-email-50.png" />
            <label>rnou@miu.edu</label><br />
          </div>
        </div>
      </div>
      <div>
        <label>About us</label><br />
        <div style="margin-top: 10px;">
          <img class="social" src="images/icons8-facebook-50.png" />
          <img class="social" src="images/icons8-telegram-50.png" />
          <img class="social" src="images/icons8-linkedin-50.png" />
        </div>
      </div>
    </div>
  </div>
</body>

</html>